{{- /*
  Nyhetsbrev-boks.

  27.07: beehiivs innebygde skjema er tatt ut. Loaderen (subscribe-forms.beehiiv.com/v3/loader.js)
  monterte iframen i en wrapper med height:0 og ventet på en resize-melding som aldri kom.
  Iframen sendte "beehiiv:child-loaded" ni ganger uten å få svar, så skjemaet var usynlig for
  alle besøkende siden 14.07. Feilen ligger i beehiivs eget script, ikke her.

  Nå: en ren lenke til beehiivs egen påmeldingsside. Ingen tredjeparts JavaScript, ingenting
  adblockere kan stoppe, og teksten er vår egen på begge språk.

  Vil du ha skjemaet rett i boksen igjen, må temaet først ryddes i beehiiv-byggeren
  (skru av tittel + undertittel, gjennomsiktig bakgrunn, null padding, fyll bredden).
  API-et vårt kan bare skrive utkast, ikke publisere, så det må gjøres i UI-et.
  CSS-en ligger i assets/css/extended/site.css.
*/ -}}
{{- $nl := site.Params.newsletter }}
{{- if $nl }}
{{- $no := eq .Language.Lang "no" }}
<aside class="newsletter-box">
  {{- if $no }}
  <p class="newsletter-title"><strong>Få neste innlegg i innboksen</strong></p>
  <p class="newsletter-sub">Omtrent annenhver uke: én artikkel om hva som skjer når kode møter den virkelige verden. Ingen fyll.</p>
  {{- else }}
  <p class="newsletter-title"><strong>Get the next one in your inbox</strong></p>
  <p class="newsletter-sub">Roughly every two weeks: one piece about what happens when code touches the real world. No filler.</p>
  {{- end }}
  <a class="newsletter-btn" href="{{ $nl.subscribeUrl }}" rel="noopener">{{ if $no }}Abonner{{ else }}Subscribe{{ end }}</a>
</aside>
{{- end }}
